.currentInfo{
    display: flex;
}
.data{
    text-align: right;
}
.content {
    border:1px solid #d9d9d9;
    border-radius: 15px;
    padding-top: 2em;
    padding-bottom:2em ;
    padding-left: 1em;
    padding-right:1em;
    background-image: url("./img/snow.jpg");
    background-size: cover;
}
.info{
    opacity: 0.8;
}
.button{
    background-color: #d9d9d9;
    border: none;
}